{% raw %}
    {% extends "admin/base.html" %}

    {% block extrastyle %}
        {{ block.super }}

        <style>
            body, td, th, input, textarea, select, .form-row p, form .button {
                font-family: Arial, sans-serif !important;
            }
        </style>
    {% endblock %}

    {% block blockbots %}
        <meta name="robots" content="noindex,nofollow,noarchive">
        <meta name="googlebot" content="nosnippet,noindex,nofollow,noarchive">
    {% endblock %}
{% endraw %}
